.orbita_post-template-default .post-navigation {
  display: none;
}

.orbita_post .orbita-meta img {
  vertical-align: baseline;
  margin-right: 8px;
  margin-bottom: -2px;
}

.orbita-list {
  width: 100%;
  margin: 0;
}
.orbita-list li {
  width: 100%;
  max-width: inherit;
  list-style: none;
  margin: 0 0 1.5rem;
  line-height: 1.2;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 12px;
  grid-template-areas: "vote meta";
}
.orbita-list .vote {
  grid-area: vote;
  text-align: center;
}
.orbita-list .vote button {
  z-index: 2;
  position: relative;
  margin-top: 5px;
}
.orbita-list .vote .count {
  z-index: 1;
  font-size: var(--fs-0);
  margin-top: 1px;
  position: relative;
}
.orbita-list .meta {
  width: 100%;
  grid-area: meta;
}
.orbita-list .meta .title .link {
  display: block;
  margin-right: 6px;
  margin-bottom: 3px;
}
@media only screen and (min-width: 700px) {
  .orbita-list .meta .title .link {
    display: inline;
    margin-bottom: 0;
  }
}
.orbita-list .meta .title .options {
  filter: grayscale(1);
  font-size: 85%;
  color: #535353;
  margin-right: 6px;
}
.orbita-list .meta .title .options a {
  display: inline-block;
}
.orbita-list .meta .title .domain {
  font-size: 90%;
  color: #535353;
}
.orbita-list .meta .data {
  margin-top: 6px;
  font-family: monospace;
  font-size: var(--fs-0);
}
.orbita-list .meta .data .comments span {
  color: var(--color-primary);
  font-size: 100%;
}
.orbita-list .meta .data .comments img {
  width: 16px;
  vertical-align: middle;
}
@media (prefers-color-scheme: dark) {
  .orbita-list .meta .data .comments img {
    filter: invert(100%);
  }
}
.orbita-list .meta .data .comments a {
  text-decoration: none;
}

.orbita-vote-button {
  border: 0;
  padding: 0;
  cursor: default;
  background: transparent !important;
<<<<<<< HEAD
=======
  width: 17px;
  height: 18px;
>>>>>>> 004f74b (adiciona icone de comentario e altera icone de voto)
  overflow: hidden;
  transition: none;
}
.orbita-vote-button img {
  width: 17px;
  height: auto;
  vertical-align: top;
}
@media (prefers-color-scheme: dark) {
  .orbita-vote-button img {
    filter: invert(100%);
  }
}

.orbita-vote-can-vote {
  cursor: pointer;
}
.orbita-vote-can-vote:hover {
  filter: invert(40%) sepia(58%) saturate(3819%) hue-rotate(214deg) brightness(91%) contrast(94%);
}

.orbita-vote-already-voted {
  cursor: default !important;
  opacity: 0.5;
}

.orbita-post-title .options {
  font-size: 80%;
  filter: grayscale(1);
  color: #535353;
  margin-left: 6px;
}
.orbita-post-title .options a {
  display: inline-block;
}
.orbita-post-title .domain {
  font-size: 80%;
  margin-left: 6px;
  color: #535353;
  display: inline-block;
}

.orbita-comment {
  margin: 0 0 1.5rem;
  line-height: 1.2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (min-width: 700px) {
  .orbita-comment {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
.orbita-comment-content {
  font-size: 95%;
  font-family: monospace;
  padding: 0 21px;
  display: block;
}

.orbita-header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
  column-gap: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--cor-caixas);
  border-radius: var(--borda-curva);
}
.orbita-header div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 1rem;
}
.orbita-header div a:visited {
  color: var(--color-link);
}
.orbita-header div a:hover {
  color: var(--color-link-states);
}
.orbita-header label {
  margin: 0;
}
.orbita-header .telegram img,
.orbita-header .rss img {
  height: 1.75rem;
  width: auto;
  display: block;
}
@media (prefers-color-scheme: dark) {
  .orbita-header .telegram img {
    filter: invert(100%);
  }
}
.orbita-header .orbita-post-button {
  padding: .43rem 1rem;
  margin: -1rem auto -1rem -1rem;
  border-radius: var(--borda-curva) 0 0 var(--borda-curva);
  background-color: var(--cor-botao);
  color: var(--cor-chapada);
  transition: background .3s, box-shadow .3s;
}
.orbita-header .orbita-post-button:hover {
  background-color: var(--cor-botao-hov);
  transition: background .3s, box-shadow .3s;
}

.orbita-ranking ol {
  list-style: none;
  margin-left: 0;
}

.orbita-form {
  margin-bottom: 6rem;
}

.orbita-form-control {
  margin-bottom: 0.5rem;
}
.orbita-form-control label {
  display: block;
  cursor: pointer;
}
.orbita-form-control input[type="text"],
.orbita-form-control input[type="url"] {
  width: 100%;
}
@media only screen and (min-width: 700px) {
  .orbita-form-control input[type="text"],
  .orbita-form-control input[type="url"] {
    width: 50%;
  }
}
.orbita-form-control textarea {
  max-width: var(--line-length);
}
.orbita-form-control .orbita-help-block {
  font-family: monospace;
  display: block;
  font-size: var(--fs-0);
}
.orbita-form-control .orbita-post-title {
  line-height: 1.2;
}
.orbita-form-control .orbita-post-title-textarea {
  resize: none;
  width: 100%;
}

.orbita-bookmarklet {
  padding: 24px;
  margin-top: 32px;
  display: none;
}
@media only screen and (min-width: 700px) {
  .orbita-bookmarklet {
    display: block;
  }
}

.orbita-navigation {
  margin-top: 6rem !important;
}

.orbita-footer {
  float: right;
}

.orbita-oembed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0 0 1.625em 0;
}
.orbita-oembed::after {
  display: block;
  clear: both;
  content: "";
}
.orbita-oembed iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.orbita-oembed-16by9::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

/*# sourceMappingURL=main.css.map */
