$desktop: "only screen and (min-width : 700px)";

:root {
  --orbita-primary-color: #232323;
  --orbita-secondary-color: #000000;
  --orbita-tertiary-color: #939393;
  --orbita-background-color: #e6e6e6;
  --orbita-background-seconday-color: #cecece;
}

@media (prefers-color-scheme: dark) {
  :root {
    --orbita-primary-color: #dddddd;
    --orbita-secondary-color: #ffffff;
    --orbita-tertiary-color: #5f5f5f;
    --orbita-background-color: #212121;
    --orbita-background-seconday-color: #404040;
  }
}

.orbita_post-template-default {
  .post-navigation,
  .widget-area {
    display: none;
  }
}

.orbita_post {
  padding: 6rem 0;
  margin: 0 auto;
}

.orbita-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media #{$desktop} {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &-title a {
    line-height: 30pt;

    @media #{$desktop} {
      line-height: 28pt;
    }
  }

  &-info {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &-tag {
    font-size: 21px;
    display: inline-block;
    padding: 0 21px;
    border-radius: 21px;
  }

  &-domain {
    font-size: 0.85rem;
    color: var(--orbita-tertiary-color);
  }

  &-date {
    font-size: 0.75rem;
    font-family: monospace;

    .orbita-report-link {
      font-size: 0.75rem;
      float: none;
      text-transform: lowercase;
      cursor: pointer;
    }
  }
}

.orbita-ranking {
  counter-increment: css-counter 0;

  @media #{$desktop} {
    line-height: 1.7;
  }

  .orbita-post {
    counter-increment: css-counter 1;

    &:before {
      content: counter(css-counter) ". ";
      font-size: 1.2rem;
      margin-right: 0.5rem;
      line-height: 1.3;
    }
  }
}

.orbita-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, sans-serif;
  font-size: 0.9rem;

  a {
    margin-left: 1rem;
    display: inline;
    line-height: 1;
  }

  @media #{$desktop} {
    background-color: var(--orbita-background-seconday-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    flex-direction: row;
    max-width: 100%;
  }

  .orbita-post-button {
    background-color: var(--orbita-background-color);
    color: var(--orbita-primary-color);
    border-radius: 50px;
    padding: 0.1rem 1rem;
    text-decoration: none;
    margin-left: 0;
    border-bottom: 0;
    line-height: 2;
    margin-bottom: 15px;

    @media #{$desktop} {
      margin-right: auto;
      margin-bottom: 0;
    }

    &:hover {
      background-color: var(--orbita-primary-color);
      color: var(--orbita-background-color);
    }
  }
}

.orbita-vote {
  border: 0;
  padding-right: 5px;
  width: 16px;
  height: 32px;
  position: relative;
  cursor: default;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent !important;

  &:after {
    bottom: 8px;
    left: 0;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: var(--orbita-secondary-color);
    border-width: 8px;
    transition: 0.2s all ease-in-out;
  }

  &-can-vote {
    cursor: pointer;

    &:hover {
      text-decoration: none;

      &:after {
        border-bottom-color: var(--orbita-tertiary-color);
        transition: 0.2s all ease-in-out;
      }
    }
  }

  &-already-voted {
    cursor: default !important;
    opacity: 0.5;

    &:after {
      border-bottom-color: var(--orbita-primary-color);
      transition: 0.2s all ease-in-out;
    }
  }
}

.orbita-form-control {
  margin-bottom: 0.5rem;

  label {
    display: block;
    cursor: pointer;
  }

  input[type="text"],
  input[type="url"] {
    width: 100%;

    @media #{$desktop} {
      width: 50%;
    }
  }

  input[type="url"] {
    background-color: var(--light-bg);
    color: var(--txt-color);
    border: 1px solid var(--border-color);
  }

  textarea {
    max-width: 60ch;
  }

  .orbita-help-block {
    font-family: monospace;
    display: block;
    font-size: 0.75rem;
  }
}

.orbita-bookmarklet {
  padding: 24px;
  margin-top: 32px;
  display: none;

  @media #{$desktop} {
    display: block;
  }

  a {
    display: inline-block;
    padding: 0.2em 8px;
    margin-top: 8px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.orbita-report-link {
  float: right;
  border: 0;
  background-color: transparent;
  color: var(--orbita-link-color);
  text-decoration: underline;
  padding: 0;
  vertical-align: baseline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: transparent;
  }

  &-already-reported {
    text-decoration: none;
    color: var(--orbita-primary-color);
    cursor: default !important;
  }
}

.orbita-footer {
  float: right;
}
