$desktop: "only screen and (min-width : 700px)";

.orbita_post-template-default {
  .post-navigation {
    display: none;
  }
}

.orbita_post {
  .orbita-meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.orbita-list {
  width: 100%;
  margin: 0;

  li {
    width: 100%;
    max-width: inherit;
    list-style: none;
    margin: 0 0 1.5rem;
    line-height: 1.2;
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 0px 12px; 
    grid-template-areas: 
      "vote meta"; 
      
  }

  .vote {
    grid-area: vote;
    text-align: center;

    button {
      z-index: 2;
      position: relative;
    }
    .count {
      z-index: 1;
      font-size: var(--small);
      color: #a6a6a6;
      margin-top: -8px;
      position: relative;
    }
  }

  .meta {
    width: 100%;
    grid-area: meta;
    .title {
      .link {
        display: block;
        margin-right: 6px;
        margin-bottom: 3px;
        @media #{$desktop} {
          display: inline;
          margin-bottom: 0;
        }
        .debate {

        }
      }
      .paywall {
        filter: grayscale(1);
        font-size: 85%;
        color: #a6a6a6;
        margin-right: 6px;
        display: inline-block;
      }
      .domain {
        font-size: 90%;
        color: #a6a6a6;
      }
    }
    .data {
      margin-top: 6px;
      font-family: monospace;
      font-size: var(--small);
      .comments {
        filter: grayscale(1);
        font-size: 100%;
      }
    }
  }
}

.orbita-vote-button {
  border: 0;
  padding: 0;
  cursor: default;
  background: transparent !important;
  width: 32px;
  height: 32px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.orbita-vote-can-vote {
  cursor: pointer;
  &:hover {
    filter: invert(40%) sepia(58%) saturate(3819%) hue-rotate(214deg) brightness(91%) contrast(94%);
  }
}
.orbita-vote-already-voted {
  cursor: default !important;
  opacity: 0.5;
}

.orbita-post-title {
  margin-bottom: 0 !important;
  .paywall {
    font-size: 80%;
    filter: grayscale(1);
    color: #a6a6a6;
    margin-left: 6px;
    display: inline-block;
  }
  .domain {
    font-size: 80%;
    margin-left: 6px;
    color: #a6a6a6;
    display: inline-block;
  }
}

.orbita-comment {
	margin: 0 0 1.5rem;
	line-height: 1.2;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
	@media #{$desktop} {
	  padding-bottom: 0;
	  border-bottom: 0;
	}
  
	&-content {
	  font-size: 95%;
	  font-family: monospace;
	  padding: 0 21px;
	  display: block;
	}
}

.orbita-header {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--cor-de-fundo);
  padding: 0.5rem 0;
  border-radius: var(--borda-curva);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, sans-serif;
  line-height: 2;

  div a {
    margin: 0 .3rem;
    display: inline;

    &:visited {
      color: var(--color-link);
    }

    &:hover {
      color: var(--color-link-states);
    }

    @media #{$desktop} {
      margin: 0 0 0 1rem;
    }
  }

  @media #{$desktop} {
    flex-direction: row;
    max-width: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
  }

  .orbita-post-button {
    @media #{$desktop} {
      margin-right: auto;
    }
  }
}

.orbita-ranking ol {
  list-style: none;
  margin-left: 0;
}

.orbita-form {
  margin-bottom: 6rem;
}

.orbita-form-control {
  margin-bottom: 0.5rem;

  label {
    display: block;
    cursor: pointer;
  }

  input[type="text"],
  input[type="url"] {
    width: 100%;

    @media #{$desktop} {
      width: 50%;
    }
  }

  input[type="url"] {
    background-color: var(--light-bg);
    color: var(--txt-color);
    border: 1px solid var(--border-color);
  }

  textarea {
    max-width: 60ch;
    background-color: var(--light-bg);
  }

  .orbita-help-block {
    font-family: monospace;
    display: block;
    font-size: var(--small);
  }

  .orbita-post-title {
    line-height: 1.2;
  }

  .orbita-post-title-textarea {
    resize: none;
    width: 100%;
  }
}

.orbita-bookmarklet {
  padding: 24px;
  margin-top: 32px;
  display: none;

  @media #{$desktop} {
    display: block;
  }
}

.orbita-navigation {
  margin-top: 6rem !important;
}

.orbita-footer {
  float: right;
}

.orbita-oembed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0 0 1.625em 0;
  
  &::after {
    display: block;
    clear: both;
    content: "";
  }
  
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.orbita-oembed-16by9 {
  &::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
}
