$desktop: "only screen and (min-width : 700px)";

.orbita_post-template-default {
  .post-navigation {
    display: none;
  }
}

.orbita_post {
  .orbita-meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.orbita-post {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: .8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media #{$desktop} {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &-info {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &-tag {
    font-size: 21px;
    display: inline-block;
    padding: 0 21px;
    border-radius: var(--borda-curva);
  }

  &-domain {
    font-size: var(--small);
    color: var(--border-color);
  }

  &-date {
    font-size: var(--small);
    font-family: monospace;

    .orbita-report-link {
      background-color: transparent;
      border: 0;
      padding: 0;
      color: var(--color-primary);
      text-decoration: underline;
      font-size: var(--small);
      float: none;
      text-transform: lowercase;
      cursor: pointer;
    }
  }
}

.orbita-ranking {
  counter-increment: css-counter 0;

  .orbita-post {
    counter-increment: css-counter 1;

    &:before {
      content: counter(css-counter) ". ";
    }
  }
}

.orbita-header {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: var(--borda-curva);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, sans-serif;
  font-size: 0.9rem;

  div a {
    margin-left: 1rem;
    display: inline;

    &:visited {
      color: var(--color-link);
    }

    &:hover {
      color: var(--color-link-states);
    }
  }

  @media #{$desktop} {
    background-color: var(--cor-de-fundo);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    flex-direction: row;
    max-width: 100%;
  }

  .orbita-post-button {

    @media #{$desktop} {
      margin-right: auto;
    }
    }
  }
}

.orbita-vote {
  border: 0;
  padding: 0;
  position: relative;
  cursor: default;
  background: transparent !important;

  &-can-vote {
    cursor: pointer;
  }

  &-already-voted {
    cursor: default !important;
    opacity: 0.5;
  }
}

.orbita-form-control {
  margin-bottom: 0.5rem;

  label {
    display: block;
    cursor: pointer;
  }

  input[type="text"],
  input[type="url"] {
    width: 100%;

    @media #{$desktop} {
      width: 50%;
    }
  }

  input[type="url"] {
    background-color: var(--light-bg);
    color: var(--txt-color);
    border: 1px solid var(--border-color);
  }

  textarea {
    max-width: 60ch;
    background-color: var(--light-bg);
  }

  .orbita-help-block {
    font-family: monospace;
    display: block;
    font-size: var(--small);
  }

  .orbita-post-title {
    line-height: 1.2;
  }

  .orbita-post-title-textarea {
    resize: none;
    width: 100%;
  }
}

.orbita-bookmarklet {
  padding: 24px;
  margin-top: 32px;
  display: none;

  @media #{$desktop} {
    display: block;
  }

  a {
    display: inline-block;
    padding: 0.2em 8px;
    margin-top: 8px;
    cursor: grab;
    border-radius: var(--borda-curva);
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: var(--color-primary);

    &:active {
      cursor: grabbing;
    }
  }
}

.orbita-report-link {
  float: right;
  cursor: pointer;

  &-already-reported {
    background: transparent;
    border: 0;
    text-decoration: none;
    color: var(--color-primary);
    cursor: default !important;
  }
}

.orbita-footer {
  float: right;
}
