$desktop: "only screen and (min-width : 700px)";

.orbita_post-template-default {
  .post-navigation {
    display: none;
  }
}

.orbita_post {
  .orbita-meta {
    img {
      vertical-align: baseline;
      margin-right: 8px;
      margin-bottom: -2px;
    }
  }
}

.orbita-list {
  width: 100%;
  margin: 0;

  li {
    width: 100%;
    max-width: inherit;
    list-style: none;
    margin: 0 0 1.5rem;
    line-height: 1.2;
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 0px 12px; 
    grid-template-areas: 
      "vote meta"; 
      
  }

  .vote {
    grid-area: vote;
    text-align: center;
    align-self: center;

    button {
      z-index: 2;
      position: relative;
    }
    .count {
      z-index: 1;
      font-size: var(--fs-0);
      position: relative;
    }
  }

  .meta {
    width: 100%;
    grid-area: meta;
    .title {
      .link {
          display: inline;
          margin-bottom: 0;
        .debate {

        }
      }
      .options {
        filter: grayscale(1);
        color: #535353;
      }
      .domain {
        color: #535353;
      }
    }
    .data {
      margin-top: .5rem;
      font-family: var(--ff-monospace);
      font-size: var(--fs-0);
    } 
  }
}

.orbita-vote-button {
  border: 0;
  padding: 0;
  margin-top: -2px;
  cursor: default;
  background: transparent !important;
  overflow: hidden;
  img {
    width: 17px;
    height: auto;
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }
}
.orbita-vote-can-vote {
  cursor: pointer;
  &:hover {
    filter: invert(40%) sepia(58%) saturate(3819%) hue-rotate(214deg) brightness(91%) contrast(94%);
  }
}
.orbita-vote-already-voted {
  cursor: default !important;
  opacity: 0.5;
}

.orbita-post-title {
  .options {
    filter: grayscale(1);
    color: #535353;
    a {
      display: inline-block;
    }
  }
  .domain {
    color: #535353;
    display: inline-block;
  }
}

.orbita-comment {
	margin: 0 0 1.5rem;
	line-height: 1.2;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
	@media #{$desktop} {
	  padding-bottom: 0;
	  border-bottom: 0;
	}
  
	&-content {
	  font-size: 95%;
	  font-family: var(--ff-monospace);
	  padding: 0 21px;
	  display: block;
	}
}

.orbita-header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
  column-gap: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--cor-caixas);
  border-radius: var(--borda-curva);
  font-size: var(--fs-0);

  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1rem;
    a {
      &:visited {
        color: var(--color-link);
      }
  
      &:hover {
        color: var(--color-link-states);
      }
    }
  }

  label {
    margin: 0;
  }

  .mastodon,
  .telegram,
  .rss {
    img {
      height: 1.5rem;
      width: auto;
      display: block;
    }
  }

  .mastodon,
  .telegram {
    img {
      @media (prefers-color-scheme: dark) {
        filter: invert(100%);
      }
    }
  }

  .orbita-post-button {
    padding: .43rem 1rem;
    margin: -1rem auto -1rem -1rem;
    border-radius: var(--borda-curva) 0 0 var(--borda-curva);
    background-color: var(--cor-botao);
    color: var(--cor-chapada);
  }

  .orbita-post-button:hover {
    background-color: var(--cor-botao-hov);
  }
}

.orbita-ranking ol {
  list-style: none;
  margin-left: 0;
}

.orbita-form {
  margin-bottom: 6rem;
}

.orbita-form-control {
  margin-bottom: 2rem;

  label {
    display: block;
    cursor: pointer;
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: 500;
  }

  pre {
    max-width: var(--line-length);
    font-size: 1rem;
    white-space: pre-wrap;
  }

  input[type="text"],
  input[type="url"],
  input[type="file"] {
    width: var(--line-length);
    margin-bottom: 1rem;
  }

  textarea {
    max-width: var(--line-length);
  }

  .orbita-help-block {
    font-family: var(--ff-monospace);
    display: block;
    font-size: var(--fs-0);
  }

  .orbita-post-title {
    line-height: 1.2;
  }

  .orbita-post-title-textarea {
    resize: none;
    width: 100%;
    padding-bottom: 0;
    font-size: var(--fs-1);
  }
}

.orbita-form-control:last-child {
  margin-bottom: 2rem;
}

.orbita-bookmarklet {
  padding: 24px;
  margin-top: 32px;
  display: none;

  @media #{$desktop} {
    display: block;
  }
}

.orbita-navigation {
  margin-top: 6rem !important;
}

.orbita-footer {
  float: right;
}

.orbita-oembed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0 0 1.625em 0;
  
  &::after {
    display: block;
    clear: both;
    content: "";
  }
  
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.orbita-oembed-16by9 {
  &::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
}
