$desktop: "only screen and (min-width : 700px)";

.orbita_post-template-default {
  .post-navigation {
    display: none;
  }
}

.orbita_post {
  .orbita-meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.orbita-post {
  margin: 0 0 1.5rem;
  line-height: 1.2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media #{$desktop} {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &-info {
    display: inline-flex;
    align-items: baseline;
  }

  &-tag {
    font-size: 21px;
    display: inline-block;
    padding: 0 21px;
    border-radius: var(--borda-curva);
  }

  &-domain {
    font-size: 95%;
    color: #a6a6a6;
  }

  &-date {
    font-size: 95%;
    font-family: monospace;
  }
}

.orbita-header {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--cor-de-fundo);
  padding: 0.5rem 0;
  border-radius: var(--borda-curva);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, sans-serif;
  line-height: 2;

  div a {
    margin: 0 .3rem;
    display: inline;

    &:visited {
      color: var(--color-link);
    }

    &:hover {
      color: var(--color-link-states);
    }

    @media #{$desktop} {
      margin: 0 0 0 1rem;
    }
  }

  @media #{$desktop} {
    flex-direction: row;
    max-width: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
  }

  .orbita-post-button {
    @media #{$desktop} {
      margin-right: auto;
    }
  }
}

.orbita-ranking ol {
  list-style: none;
  margin-left: 0;
}

.orbita-vote {
  border: 0;
  padding: 0;
  position: relative;
  cursor: default;
  background: transparent !important;
  font-size: 90%;
  filter: grayscale(1);
  left: -2px;

  &-can-vote {
    cursor: pointer;
  }

  &-already-voted {
    cursor: default !important;
    opacity: 0.5;
  }
}

.orbita-form {
  margin-bottom: 6rem;
}

.orbita-form-control {
  margin-bottom: 0.5rem;

  label {
    display: block;
    cursor: pointer;
  }

  input[type="text"],
  input[type="url"] {
    width: 100%;

    @media #{$desktop} {
      width: 50%;
    }
  }

  input[type="url"] {
    background-color: var(--light-bg);
    color: var(--txt-color);
    border: 1px solid var(--border-color);
  }

  textarea {
    max-width: 60ch;
    background-color: var(--light-bg);
  }

  .orbita-help-block {
    font-family: monospace;
    display: block;
    font-size: var(--small);
  }

  .orbita-post-title {
    line-height: 1.2;
  }

  .orbita-post-title-textarea {
    resize: none;
    width: 100%;
  }
}

.orbita-bookmarklet {
  padding: 24px;
  margin-top: 32px;
  display: none;

  @media #{$desktop} {
    display: block;
  }
}

.orbita-navigation {
  margin-top: 6rem !important;
}

.orbita-footer {
  float: right;
}
